.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(15, 151, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
  
  .logo a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
  }
  
  .links a:hover {
    color: rgb(0, 0, 0); 
  }

  #NavTitle {
      text-align: center;
      font-size: 35px;
      background-image: linear-gradient(to right, #00ffcc, #0066ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

.logo{
    margin-left: 10px;
    width: 7rem;
    height: 3rem;
  }

  #login{
    background-color: none;
    color: black;
    padding: 5px 15px;
    border: 3px solid black;
  }

  #register{
    background-color: #000000;
    color: rgba(191, 234, 245, 1);;
    padding: 5px 15px;
    border: 3px solid black;
  }